/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	height: 100%;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

/*     -----------------------   my code ----------------------- */

.top-blackLine {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background: black;
	position: absolute;
	top: 0px;
	left: 0px;
}

.top-blackLine_nav {
	display: flex;
	gap: 25px;
	align-items: center;
}

.editionModeBtn {
	color: white;
	text-decoration: none;
}

.publicateChangesBtn {
	color: black;
	background-color: white;
	text-decoration: none;
	padding: 11px 23px;
	font-weight: 700;
	text-align: center;
	border-radius: 60px;
	border: 2px solid white;
	transition: transform 150ms ease;
}

.--adjustedMainHeader {
	margin-top: 100px;
}

.filter-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.filter-option {
	padding: 9px 30px;
}

.rounded {
	border: 2px solid #1d6154;
	border-radius: 60px;
	color: #1d6154;
	font-family: "Syne";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	transform: scale(1);
	transition: transform 150ms ease;
}

.--selected {
	color: #fff;
	background-color: #1d6154;
}

.rounded:hover {
	transform: scale(1.025);
	transition: transform 150ms ease;
}

.modify {
	display: none;
	font-family: "Work Sans";
	font-size: 14px;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.--adjustedmodify {
	margin-left: 55px;
	margin-top: 10px;
}

.--adjustedPortfolioHeader {
	margin-left: 80px;
}

#logB {
	text-decoration: none;
	color: Black;
}

#logB:hover {
	color: #b1663c;
}

#projB {
	text-decoration: none;
	color: Black;
}

#projB:hover {
	color: #b1663c;
}

#portfolio_header {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#modifyProject {
	color: black;
	border: none;
	background-color: #fffef8;
}
#modifyProject:hover {
	transform: scale(1.1);
	transition: transform 100ms ease;
}

#sbModal {
	display: none;
	position: fixed;
	box-sizing: border-box;
	/* 	overflow: hidden; */
	z-index: 1;
	margin: auto;
	overflow: auto;
	padding: 60px 105px 50px 105px;
	border-radius: 10px;
	left: 0;
	top: 200px;
	right: 0;
	bottom: 200px;
	width: 630px;
	height: 730px;
	background: #ffffff;
	animation: modalAppear 300ms ease-in;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 40px;
}

#sbModal .close {
	font-size: 24px;
	cursor: pointer;
	top: 26px;
	right: 30px;
	position: absolute;
	font-weight: bold;
}

#sbModal .previous {
	font-size: 16px;
	cursor: pointer;
	top: 26px;
	left: 30px;
	position: absolute;
}

.modal_title {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
}

.smlGallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 12px;
}
.smlGallery img {
	width: 78px;
	height: 100px;
	cursor: grab;
}

.--imgSelected {
	opacity: 0.5;
}

.smlGallery i {
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	padding: 3px;
	font-size: 10px;
	cursor: pointer;
}

.smlGallery figure {
	position: relative;
}

.addPic_btn {
	width: 237px;
	height: 36px;
	font-weight: 700;
}

.delete_btn {
	width: 237px;
	height: 17px;
	font-weight: 400;
	color: red;
	border: none;
	background-color: #fff;
}

.pic_add-img-label  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	height: 170px;
	background: #e8f1f7;
	border-radius: 5px;
}

.pic_add-title-label, .pic_add-category-label {
	margin-top: 30px;
}

#photo {
	/* display: none; */
}

#file-upload-button {
	background-color: #1d6154;
}

.addPicIcon {
	font-size: 64px;
	color: grey;
}

.addPic_Description-title {
	color: #306685;
	padding: 10px 33px;
	border-radius: 50px;
	background-color: #cbd6dc;
	margin-top: 20px;
}

.addPic_Description-byline {
	font-size: 10px;
	margin-top: 8px;
}



.--grayEffect {
	background: rgba(0, 0, 0, 0.3);
	animation: smoothingbgcolor 250ms ease;
}

.--blurEffect {
	filter: blur(5px);
	animation: blurEffect 750ms ease;
}

#submitForm {
	display: flex;
	flex-direction: column;
}
.select-title,
.select-category {
	z-index: 2;
	box-sizing: border-box;
	width: 420px;
	height: 51px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 0px solid;
	background-color: transparent;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
	outline: none;
	padding: 0px;
	font-family: "Work Sans";
	font-size: 16px;
}

#submitBtn {
	padding: 10px 50px;
	width: 237px;
}

/*     -----------------------   fin my code ----------------------- */
#login {
	width: 50%;
	margin: auto;
	margin-bottom: 300px;
}
#login > * {
	text-align: center;
}
#login h2 {
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

@keyframes modalAppear {
	0% {
		opacity: 0;
		transform: TranslateY(-5rem);
	}
	5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: TranslateY(0rem);
	}
}

@keyframes grayEffect {
	0% {
		background-color: rgb(255, 254, 248, 1);
	}
	40% {
		background-color: rgb(255, 254, 248, 1);
	}
	100% {
		background: rgba(0, 0, 0, 0.3);
	}
}

@keyframes blurEffect {
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(5px);
	}
}
